client.js
httpserver.py
initiate.py
sanic-example.py
server.js
tcp-client.py
tcp-server.py
usps-tcp-simulator.py
websocket-client.py
websocket-server.py
websocket.html
dynamic

__pycache__
testservice.egg-info
debian
deb_dist
dist
testservice-0.0.1.tar.gz
